* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico/Pacifico-Regular.woff2') format('woff2'),
        url('../fonts/Pacifico/Pacifico-Regular.woff') format('woff');
    font-weight: 400;
}

/* Poppins fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Libre Franklin font */
@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/Libre_Franklin/LibreFranklin-Thin.woff2') format('woff2'),
        url('../fonts/Libre_Franklin/LibreFranklin-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Core styles */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* Header styles */
.main-header {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
    font-family: 'Pacifico';
    font-weight: 400;
    font-size: 32px;
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Poppins", Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    color: #6C6C6C;
}

.navbar-nav .nav-item:not(:last-child) {
    margin-right: 24px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #AC1313;
}

.buy-cart {
    font-size: 14px;
    color: #000;
}

.cart-icon {
    border-left: 1px solid #EBEBEB;
    margin-left: 10px;
    margin-right: 6px;
    padding-left: 16px;
}

.navbar-toggler {
    font-size: 1rem;
    padding: 0.25rem 0.50rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.05rem;
}