* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico/Pacifico-Regular.woff2') format('woff2'),
        url('../fonts/Pacifico/Pacifico-Regular.woff') format('woff');
    font-weight: 400;
}

/* Poppins fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Libre Franklin font */
@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/Libre_Franklin/LibreFranklin-Thin.woff2') format('woff2'),
        url('../fonts/Libre_Franklin/LibreFranklin-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

p {
    font-family: 'Libre Frankli';
}